<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="clients-active owl-carousel">
                <div style="width: 285px;">
                    <div class="single-clients">
                        <a href="https://www.differ.nl" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/clients/differ.png" alt="DIFFER">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
